/* Albatar gnome Theme
* Copyright 2016 Albatar group.
*
* This file is part of the Albatar gnome Theme.
*
* Authors:
* Sam Hewitt <sam@snwh.org>
*
* Layout and code style adapted from the Paper theme.
*
* This program is free software; you can redistribute it and/or modify it
* under the terms and conditions of the GNU General Public License,
* version 3, as published by the Free Software Foundation.
*
* This program is distributed in the hope it will be useful, but WITHOUT ANY
* WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
* more details.
*/


/***********
 * Popover *
 **********/

GraniteWidgetsPopOver {

    -GraniteWidgetsPopOver-arrow-width: 21;
    -GraniteWidgetsPopOver-arrow-height: 10;
    -GraniteWidgetsPopOver-border-radius: 8px;
    -GraniteWidgetsPopOver-border-width: 1px;
    -GraniteWidgetsPopOver-shadow-size: 12;
    
    border: 1px solid @base;
    background: @base;
    color: @text;
    
}

GraniteWidgetsPopOver .frame,
GraniteWidgetsStaticNotebook .frame {
    border: none;
}

.popover_bg {
    background-color: @base;
    background-image: none;
    border: 1px solid @base;
    color: @text;
}

GraniteWidgetsPopOver .sidebar.view {
    border: none;
    background: none;
}

/*Button*/
GraniteWidgetsPopOver .button {
    background-image: none;
    background: none;
    border: none;
}

GraniteWidgetsPopOver .button:active {
    border: none;
    background: none;
    color: @selection;
}

GraniteWidgetsPopOver .button:active:hover {
    background: none;
    background-color: alpha(@selection, 0.05);
    border: none;
    color: @selection;
}


/***********
 * Welcome *
 **********/

GraniteWidgetsWelcome {
    background-color: @base;
}

GraniteWidgetsWelcome GtkLabel {
    color: @foreground;
}

GraniteWidgetsWelcome .h1,
GraniteWidgetsWelcome .h3 {
    color: alpha(@foreground, 0.8);
}

GraniteWidgetsModeButtonItem {
    border-radius: 0;
}
