/* Albatar gnome Theme
* Copyright 2016 Albatar group.
*
* This file is part of the Albatar gnome Theme.
*
* Authors:
* Sam Hewitt <sam@snwh.org>
*
* Layout and code style adapted from the Paper theme.
*
* This program is free software; you can redistribute it and/or modify it
* under the terms and conditions of the GNU General Public License,
* version 3, as published by the Free Software Foundation.
*
* This program is distributed in the hope it will be useful, but WITHOUT ANY
* WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
* more details.
*/

/***********
 * Spinner *
 ***********/

.menu.spinner,
.primary-toolbar .spinner {
    color: @selection;
}

/*********************
 * Spinner Animation *
 *********************/

@keyframes spin { to { -gtk-icon-transform: rotate(1turn); } }

.spinner {
  background-image: none;
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

.spinner:active {
    opacity: 1;
    animation: spin 1s linear infinite;
}
.spinner:active:insensitive {
    opacity: 0.5;
}
